@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", "DM Sans", sans-serif;
    scroll-behavior: smooth;
    color-scheme: dark;
}

@layer components {
    .my-section {
        @apply w-screen min-h-screen relative grid place-items-center;
    }

    .common-content {
        @apply w-screen  md:max-w-[1170px] text-justify px-8 flex flex-col gap-10 justify-center mx-auto pt-[4rem] md:pt-0;
    }

    .common-content .common-title {
        @apply text-5xl font-bold md:text-6xl;
    }

    .common-content .text-container {
        @apply flex flex-col gap-4;
    }
}
